* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Hind", sans-serif;
}

a {
  text-decoration: none;
  color: #334050;
}

.btn {
  background: #334050;
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: all 500ms;
}

.btn:hover {
  background: #fff;
  color: #334050 !important;
  box-shadow: 0px 0px 4px #c5c5c5;
}

.btn:focus {
  box-shadow: 0px 0px 12px #334050;
}

.btn-newsletter {
  padding: 0px 40px;
  background: #334050;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 500ms;
}

.btn-newsletter:hover {
  box-shadow: 0px 0px 4px #c5c5c5;
  transform: scale(1.05);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.d-block {
  display: block;
}

section,
footer {
  padding: 30px;
}

p {
  color: #727272;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  font-family: "Archivo Narrow", sans-serif;
  transition: all 1s;
  z-index: 999;
}
header .logo {
  font-size: 1.3rem;
  display: flex;
  align-self: center;
  letter-spacing: 3px;
  transition: all 400ms;
}
header .logo a i {
  transition: all 500ms;
  margin-right: 5px;
  color: #05dba3;
}
header .logo a {
  text-shadow: 0px 0px 4px #c5c5c5;
}
header .logo:hover {
  transform: scale(1.05);
}
header .menu ul {
  display: flex;
  align-items: center;
}
header .menu ul li {
  list-style-type: none;
}
header .menu ul li a {
  padding: 10px 25px;
  transition: all 500ms;
}
header .menu ul li a:hover {
  color: #05dba3;
  font-size: 1.2rem;
}
header .menu ul li a.active {
  color: #05dba3;
  font-size: 1.2rem;
}

header.sticky {
  background: #fff;
  color: #334050;
  box-shadow: 0px 0px 4px #334050;
}

section.banner {
  margin-top: 80px;
  display: flex;
  align-items: center;
}
section.banner .content {
  flex-basis: 50%;
  flex-grow: 1;
}
section.banner span {
  font-weight: 700;
  text-shadow: 0px 0px 4px #c5c5c5;
}
section.banner h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin: 25px 0px;
  font-family: "Archivo Narrow", sans-serif;
}
section.banner p {
  width: 80%;
}
section.banner .icons {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
section.banner .icons div {
  padding: 10px 45px 10px 0px;
}
section.banner .icons div i {
  color: #05dba3;
  padding-right: 5px;
  font-size: 1.7rem;
}
section.banner form {
  display: flex;
  margin: 15px 0px;
}
section.banner form div {
  position: relative;
}
section.banner form div.email {
  flex-basis: 63%;
}
section.banner form div.placeholder {
  display: flex;
  align-items: center;
}
section.banner form div.placeholder i {
  position: absolute;
  top: -30px;
  left: 15px;
  pointer-events: none;
  color: #334050;
  font-size: 1.3rem;
  transition: all 500ms;
}
section.banner form div.placeholder label {
  position: absolute;
  top: -33px;
  left: 46px;
  pointer-events: none;
  color: #727272;
  transition: all 500ms;
}
section.banner form input {
  height: 45px;
  border-radius: 20px;
  outline: none;
}
section.banner form input[type=email] {
  padding-left: 45px;
  width: 100%;
  font-size: 1rem;
}
section.banner form input[type=email]:focus ~ .placeholder label,
section.banner form input[type=email]:valid ~ .placeholder label {
  position: absolute;
  top: -65px;
  left: 15px;
  color: #334050;
  font-weight: 600;
}
section.banner form input[type=email]:focus ~ .placeholder i,
section.banner form input[type=email]:valid ~ .placeholder i {
  color: #05dba3;
}
section.banner form input[type=submit] {
  margin-left: -40px;
}
section.banner .img {
  flex-basis: 50%;
  flex-grow: 1;
}
section.banner .img img {
  width: 100%;
}

section.why-us .heading {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Archivo Narrow", sans-serif;
}
section.why-us .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.why-us .cards .card {
  flex-basis: 30%;
  margin: 10px 20px;
  padding: 20px;
  box-shadow: 0px 0px 4px #c5c5c5;
  height: 430px;
}
section.why-us .cards .card__header img {
  width: 100%;
  height: 200px;
}
section.why-us .cards .card__body {
  text-align: center;
}
section.why-us .cards .card__body h3 {
  margin: 20px 0px 10px 0px;
}

.dev {
  height: 1000px;
}

@media (max-width: 992px) {
  section.banner h1 {
    font-size: 3.2rem;
  }

  section.why-us .cards {
    flex-direction: column;
    justify-content: center;
  }
  section.why-us .cards .card {
    width: 70%;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 25px 20px;
  }

  .toggle {
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: 200ms;
  }

  .toggle.active {
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  nav.menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 79px;
    right: -100%;
    padding: 100px 50px;
    text-align: center;
    background: #fff;
    transition: all 800ms;
    z-index: 150;
    box-shadow: 1px 0px 4px #c2c2c2;
  }

  nav.menu.active {
    right: 0;
  }

  nav.menu.active ul li {
    animation: showMenu 1s;
  }

  @keyframes showMenu {
    0% {
      padding: 100%;
    }
    100% {
      padding: 20px 0px;
    }
  }
  nav.menu ul {
    display: block;
    text-align: center;
  }

  nav.menu li {
    padding: 20px 0px;
  }

  nav.menu a {
    font-size: 24px;
  }

  section.banner {
    flex-direction: column;
    padding: 30px 20px;
  }
  section.banner .content,
section.banner .img {
    flex-basis: 100%;
  }
  section.banner p {
    width: 75%;
  }
}
@media (max-width: 576px) {
  section.banner h1 {
    font-size: 2.2rem;
  }
  section.banner p {
    width: 100%;
  }
  section.banner form {
    flex-direction: column;
  }
  section.banner form .submit {
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
  }
  section.banner form input[type=submit] {
    margin-left: 0px;
    min-width: 300px;
  }

  section.why-us .cards .card {
    width: 100%;
    margin: 20px 0px;
  }
  section.why-us .cards .card .card__header img {
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
